body{
    margin: 0;
}
.container{
    background-color: tomato;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 25%;
    grid-template-rows: 1fr 1fr 1fr 0.5fr;
    grid-template-areas:
        'item-1 item-2 item-3 item-3'
        'item-4 item-5 item-6 item-7'
        'item-8 item-9 item-9 item-7'
        'item-10 item-11 item-12 item-12';
}
.container .item-1{
    background-color: aqua;
    grid-area: item-1;
    display: flex;
}

.container .item-2{
    background-color: aquamarine;
    grid-area: item-2;
}
.container .item-3{
    background-color: blanchedalmond;
    grid-area: item-3;
}
.container .item-4{
    background-color: brown;
    grid-area: item-4;
}


