body{
    margin: 0;
}
.container{
    background-color: tomato;
    display: grid;
    height: 150vh;
    grid-template-areas: 
    "item-1 item-1 item-1 item-2 item-2 item-2 item-3 item-3 item-3 item-3 item-3 item-3"
    "item-4 item-4 item-4 item-5 item-5 item-5 item-5 item-5 item-5 item-6 item-6 item-6"
    "item-7 item-7 item-7 item-8 item-8 item-8 item-8 item-8 item-8 item-6 item-6 item-6"
    "item-9 item-9 item-9 item-10 item-10 item-10 item-11 item-11 item-11 item-11 item-11 item-11"
    ;
}
.container .item-1{
    background-color: aqua;
    grid-area: item-1;
}
.container .item-2{
    background-color: aquamarine;
    grid-area: item-2;
}
.container .item-3{
    background-color: blanchedalmond;
    grid-area: item-3;
}
.container .item-4{
    background-color: brown;
    grid-area: item-4;
}
.container .item-5{
    background-color: blueviolet;
    grid-area: item-5;
}
.container .item-6{
    background-color: blue;
    grid-area: item-6;
}
.container .item-7{
    background-color: cadetblue;
    grid-area: item-7;
}
.container .item-8{
    background-color: teal;
    grid-area: item-8;
}
.container .item-9{
    background-color: gray;
    grid-area: item-9;
}
.container .item-10{
    background-color: violet;
    grid-area: item-10;
}
.container .item-11{
    background-color: coral;
    grid-area: item-11;
}