body{
    margin: 0;
}
.container{
    background-color: tomato;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 25%;
    grid-template-rows: 1fr 1fr 1fr 0.5fr;
    grid-template-areas:
        'd1 d2 d3 d3'
        'd4 d5 d6 d7'
        'd8 d9 d9 d7'
        'd10 d11 d12 d12';
}
.container .item-1{
    background-color: aqua;
    grid-area: item-1;
    display: flex;
}

.container .item-2{
    background-color: aquamarine;
    grid-area: item-2;
}
.container .item-3{
    background-color: blanchedalmond;
    grid-area: item-3;
}
.container .item-4{
    background-color: brown;
    grid-area: item-4;
}


